.primary-button {
  border: 0.25rem solid var(--primary-brown);
  background-color: var(--primary-brown);
  color: var(--primary-white);
  padding: 0.5rem 1rem;
}

.primary-button:hover {
  border: 0.25rem solid var(--primary-brown);
  background-color: var(--primary-brown-transparent);
  cursor: pointer;
}
