.primary-button {
  border: 0.25rem solid var(--primary-green);
  background-color: var(--primary-green);
  color: var(--primary-white);
  padding: 0.5rem 1rem;
}

.primary-button:hover {
  border: 0.25rem solid var(--primary-green);
  color: var(--primary-green);
  background-color: transparent;
  cursor: pointer;
}
