<header id="header" class="site-header shadow">
  <div class="container flex-between">

    <div class="logo">
      <img src="assets/images/logo/small-logo.png" alt="Logo klein" class="logo-small">
      <img src="assets/images/logo/large-logo.png" alt="Logo" class="logo-large">
    </div>

    <nav class="main-nav">
      <ul class="flex">
        <li><a class="menu-item" href="#ueber-mich">Über mich</a></li>
        <li><a class="menu-item" href="#projekte">Projekte</a></li>
        <li><a class="menu-item" href="#leistungen">Leistungen</a></li>
      </ul>

      <app-primary-button></app-primary-button>
    </nav>

    <button class="menu-toggle">☰</button>

  </div>
</header>
