.project-container {
  background-color: var(--primary-green);
  color: var(--primary-white);
}

.project-content {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.project-heading {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: clamp(1.25rem, 5vw, 3.5rem);
  font-weight: bold;
  color: var(--primary-brown);
}

.project-image-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.large-project-image {
  width: 100%;
}

.small-project-image {
  width: 49%;
}

.small-project-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-description {
 padding-bottom: 1rem;
}

.project-footer-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .project-header {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .project-image-container {
    flex-direction: row;
  }

  .small-project-image-container {
    flex-direction: column;
  }

  .project-description {
    max-width: 60%;
  }

  .large-project-image {
    width: 70%;
  }

  .small-project-image {
    width: 100%;
    min-height: 49%;
  }

  .project-footer-container {
    display: flex;
    flex-direction: row;
  }
}
