.point-box {
  background: rgba(255,255,255,0.1);
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  height: 75%;
}

.icon mat-icon {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  color: var(--primary-white);
}

.title {
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  margin: 0;
}

.description {
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}
