.services-container {
  padding: 3rem 1rem;
  background: var(--primary-white);
  color: var(--primary-green);
}

.services-grid {
  display: grid;
  gap: 5rem;
  padding: 3rem 1rem;
  grid-template-columns: 1fr; /* mobile first */
}

/* Cards */
.service-card {
  position: relative;
  background: var(--primary-green);
  color: var(--primary-white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%; /* wichtig für gleiche Höhe */
}

.service-title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.service-subtitle {
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  opacity: 0.9;
  margin-bottom: 2rem;
  min-height: 5rem;
}

/* Accordion */
.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion-item {
  background: rgba(255,255,255,0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  font-weight: bold;
}

.accordion-content {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.2s ease;
}


.accordion-content p {
  white-space: pre-line;
}


.accordion-content.open {
  height: auto; /* wird gleich dynamisch gesetzt */
  opacity: 1;
  margin-top: 0.5rem;
}

.accordion-arrow {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.accordion-arrow.open {
  transform: rotate(180deg);
}

/* Desktop: 2 Spalten */
@media (min-width: 800px) {

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 6rem;
  }

  .service-card {
    height: 100%; /* gleiche Höhe */
  }
}
