.pain-point-component {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

/* Bild links */
.pain-point-component img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

/* Textblock rechts */
.pain-point-text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; /* kleiner Abstand zwischen Titel und Text */
}

.pain-point-text-sub {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* kleiner Abstand zwischen Titel und Text */
}

/* Header */
.pain-point-title {
  margin: 0;
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  font-weight: bold;
  color: var(--primary-brown);
}

/* Beschreibung */
.pain-point-description {
  margin: 0;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  color: var(--primary-white);
  opacity: 0.9;
}

.only-mobile {
  display: block;
}

.pain-point-button-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

/* Mobile */
@media (max-width: 699px) {
  .pain-point-component {
    padding: 0.75rem;
    gap: 0.75rem;
  }

  .pain-point-component img {
    width: 2rem;
    height: 2rem;
  }

}

@media (max-width: 900px) {
  .only-mobile {
    display: none;
  }
  .pain-point-button-wrapper {
    justify-content: center;
  }
}
