<div class="pain-points-list">

  <div class="pain-point-component ">
    <img [class.only-mobile]="!mobileStarVisible()" src="assets/images/stars/large-star.png" alt="">

    @if (subTitle() !== '') {
      <div class="pain-point-text-sub">
        <h3 class="pain-point-title" [style.color]="titleColor()">{{title()}}</h3>
        <h1 class="pain-point-description" [style.color]="textColor()">{{subTitle()}}</h1>
        <p class="pain-point-description" [style.color]="textColor()">{{text()}}</p>
        <h1 class="pain-point-description" [style.color]="textColor()">{{subText()}}</h1>

        <!-- BUTTON HIER EINBAUEN -->
        <div class="pain-point-button-wrapper">
          <app-navigation-button
            [buttonTitle]="'MEHR ERFAHREN'"
            [navigateTo]="'services'"
          ></app-navigation-button>
        </div>
      </div>
    } @else {
      <div class="pain-point-text">
        <h3 class="pain-point-title" [style.color]="titleColor()">{{title()}}</h3>
        <p class="pain-point-description" [style.color]="textColor()">{{text()}}</p>
      </div>
    }

  </div>

</div>
