<section class="hero" [class.small]="smallHero()" id="home">
  <div class="container flex hero-content" [class.small]="smallHero()">
    <div class="hero-title-group">
      <div>
        @if (!smallHero()) {
          <span class="primary-white hero-subtitle">schaffe deinen "Raum fürs echte Leben" - ohne dafür dein Konto leer räumen zu müssen</span>
        }
      </div>
      <div class="hero-title primary-white hero-title-group">
        @if (aboutHero()) {
          <div><strong>NEUGIERIG, </strong>WER HINTER</div>
          <div><strong>"RAUM FÜRS ECHTE LEBEN"</strong></div>
          <div>STECKT?</div>
        } @else if (projectHero()) {
          <div><strong>PROJEKTE.</strong></div>
          <div>LASS DICH INSPIRIEREN &</div>
          <div>ENTDECKE WAS MÖGLICH IST</div>
        } @else if (serviceHero()) {
          <div><strong>LEISTUNGEN.</strong></div>
          <div>SO ARBEITEN WIR ZUSAMMEN, AN DEINEM</div>
          <div>"RAUM FÜRS ECHTE LEBEN"</div>
        }@else {
          <div>DEIN WEG ZU EINEM <strong>ZUHAUSE</strong></div>
          <div>SO <strong>INDIVIDUELL</strong></div>
          <div>WIE <strong>DU</strong></div>
        }
      </div>
      @if (!smallHero()) {
        <div class="flex-between">
          <app-primary-button></app-primary-button>
        </div>
      }
    </div>
  </div>
</section>
